.categories {
    padding-left: 100px;
    padding-top: 50px;
}

.custom-size {
    max-width: 1700px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.filter-field {
    padding-top: 20px;
}

#welcome_message {
    position: absolute;
    top: 100px;
    left: 15px;
}

#welcome_message h1 {
    color: white;
    font-size: 70px;
}

.bar-user-message {
    color: white;
    padding-right: 10px;
}

.paddingTop {
    padding-top: 20px;
}

.paddingBot {
    padding-bottom: 20px;
}

.padding40 {
    padding-top: 40px;
}

.payment-message{
    font-size: 15px;
}
