.categories {
    padding-left: 100px;
    padding-top: 50px;
}

.custom-size {
    max-width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.filter-field {
    padding-top: 20px;
}

@media (min-width: 575.98px) {
    #welcome_message {
        position: absolute;
        top: 100px;
        left: 15px;
        background-color: rgba(75, 75, 75, 0.3); 
        border-radius: 8px;
    }
}

.banner-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner-img img {
    height: auto;
}

#welcome_message h1 {
    color: white;
    font-size: 70px;
}

.bar-user-message {
    color: white;
    padding-right: 10px;
}

.paddingTop {
    padding-top: 20px;
}

.paddingBot {
    padding-bottom: 20px;
}

.padding40 {
    padding-top: 40px;
}

.payment-message{
    font-size: 15px;
}

.bigWidth {
    max-width: 1700px;
}

.cardDisplaying {
    display: inline-block !important;
    width: 18rem !important;
}

@media (max-width: 290px) {
    .cardDisplaying {
        display: inline-block !important;
        width: 8rem !important;
    }
    
    .cardDisplaying a {
        font-size: 13px;
    }
}

@media (max-width: 420px) {
    .cardDisplaying {
        display: inline-block !important;
        width: 10rem !important;
    }
    
    .cardDisplaying a {
        font-size: 13px;
    }

    .centerize {
        display: flex !important;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-left: -1em;
    }
    
    .vertical {
        display: flex !important;
        flex-direction: column;
    }
}

.only420 {
    margin-bottom: 1em;
}

.instruments {
    padding-bottom: 10%;
}


@media (max-width: 730px) {
    .contentLayout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .instruments {
        display: none;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: -5em;
    }

    .wider {
        max-width: 100% !important;
    }

    .regularSortBox {
        display: none;
    }

    .extraSort {
        padding-top: 9%;
        margin-left: -3em;
    }

    .flexColumn {
        flex-direction: column;
    }

    .smaller {
        font-size: 1.5rem !important;
    }

    .hideAtLess730 {
        display: none;
    }

    .normalOverview {
        display: none;
    }

    .dateSelector h5 {
        font-size: 1.2rem !important;
    }
}

@media (min-width: 730px) {
    .extraSort {
        display: none;
    } 

    .only420 {
        display: none;
    }

    .extraOverview {
        display: none !important;
    }
    
}

@media (max-width: 459px) {
    .smallerFont {
        font-size: 0.9rem !important;
    }
}

.carousel-image {
    height: auto;
    width: 100%;
    object-fit: contain;
    max-height: 100vh;
    max-width: 100vw;
  }

@media (max-width: 575.98px) {
    #welcome_message {
        display: none;
    }
}

#carouselExampleSlidesOnly {
    height: 100vh; 
}

.carousel-inner {
    height: 100%; 
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    height: 100%; 
    width: 100%; 
}

.content {
    padding-bottom: 0px !important;
}
