{% extends 'rentals/base.html' %}


{% block content %}
{% load static %}
  <div class="container" style="padding-top: 50px;">
    <div class="b1">
      <h1>About SoundHire</h1>
      <p>We currently live in a society based on consumism in which the problem of overproduction is on the rise. In addition,
        the high price of production and materials means that the final price faced by the customer is excessively high. The
        consumerism of our society does not only lead into an economic issue, but is also reflected in the environmental field, exerting a
        negative impact on it.</p>
    </div>
    <div class="b2">
      <p>At SoundHire we are committed to the rental of instruments as an alternative to compulsive and unsustainable purchases.</p>
    </div>
    <a href="{% url 'categories' %}" class="btn btn-outline-dark btn-lg">View Instruments</a>
  </div>

{% endblock %}