{% extends 'rentals/base.html' %}

{% block content %}

<!-- --------------------- IN PROCESS PROMPT ---------------------- -->
<!-- <div class="container">
<h1>Página en Proceso</h1>
<div class="alert alert-warning" role="alert">
    Esta página está en proceso y estará disponible próximamente.
</div>
</div>
<hr> -->
<!-- -------------------------------------------------------------- -->

<div class="container custom-size">
    
    <div class="row" >
        <div class="col-4">
            
            <div class="row border">
                <h1>{{ instrument.first.name }}</h1>
                <div class="col paddingTop"> 
                    <div class="card border-0" style="width: 9rem;">
                        <img src="{{ instrument.first.image.url }}" class="card-img-top" alt="{{ instrument.first.name }}">
                    </div>
                </div>
                <div class="col paddingTop">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Specs</li>
                        {% for spec in instrument.first.specs %}
                            <li class="list-group-item">{{ spec }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <h3 class="paddingTop">Overview</h3>
                <ul class="list-group list-group-flush">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Dates</li>
                            <li class="list-group-item">Pick-up Date: {{ pickup_date }}</li>
                            <li class="list-group-item">Pick-up Date: {{ pickup_date }}</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Locations</li>
                            <li class="list-group-item">Pick-up location: {{ pickup_loc }}</li>
                            <li class="list-group-item">Return location: {{ return_loc }}</li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-7 paddingTop">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">3/5</div>
            </div>
            <h1 class="padding40">Add Accessories</h1>
            <form method="GET" action="#">
                {% csrf_token %}
                {% if not accessories %}
                <p>No hay</p>
                {% endif %}
                {% for accessory in accessories %}
                <div class="form-check paddingTop">
                    <input class="form-check-input" type="checkbox" name="accessories" value="{{ accessory.id }}" id="accessory_{{ accessory.id }}">
                    <label class="form-check-label" for="accessory_{{ accessory.first.id }}">
                        {{ accessory.name }} +{{ accessory.price }}€
                    </label>
                </div>
                {% endfor %}
                <div class="row padding40">
                    <button type="submit" class="btn btn-outline-dark btn-lg">View accessories</button>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}