{% extends 'rentals/base.html' %}

{% block content %}

<div class="container">
    <h1 class="text-center">Account</h1>

    <form method="post" action="{% url 'account' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
      </div>

      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" required>
      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-dark" onclick="return fieldValidation()">Save Changes</button>
      </div>
    </form>
</div>

<script type="text/javascript">
  function fieldValidation() {
    var usernames = JSON.parse('{{ usernames|safe }}');
    var current_user_name = "{{ user.username|safe }}";
    var changed_username = document.getElementById('username').value;

    var emails = JSON.parse('{{ emails|safe }}');
    var current_email = "{{ user.email|safe }}";
    var changed_email = document.getElementById('email').value;

    if (current_user_name != changed_username && current_email != changed_email) {
      if (usernames.includes(changed_username) && emails.includes(changed_email)) {
        alert("Username and email already in use.");
        return false;
      }
    }

    if (current_user_name != changed_username) {
      if (usernames.includes(changed_username)) {
        alert("Username already in use.");
        return false;
      }
    }
  
    if (current_email != changed_email) {
      if (emails.includes(changed_email)) {
        alert("Email already in use.");
        return false;
      }
    }

    return true;
  }
</script>




{% endblock %}