{% extends 'rentals/base.html' %}

{% block content %}


<div class="row categories">
{% for category in categories %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}">
            <div class="card-body text-center">
            <a href="{% url 'types' category.name %}" class="btn btn-outline-dark btn-lg w-100">{{ category.name }}</a>
            </div>
        </div>
    </div>
    
{% endfor %}

<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top" alt="All categories">
        <div class="card-body text-center">
        <a href="{% url 'instruments' 'All instruments' %}" class="btn btn-outline-dark btn-lg w-100">All instruments</a>
        </div>
    </div>
</div>


{% endblock %}