{% extends 'rentals/base.html' %}


{% block content %}
<div class="custom-size container" style="max-width: 1700px;">
  <!-- TITLE -->
  <div class="row">
    <div class="col">
      <h1>{{ type }}</h1>
    </div>
  </div>
  <!-- FILTERS -->
  <div class="row">
    <div class="col-2">
      <form id="instrumentFilter">
        <h3>Filters</h3>
        <div class="form-group filter-field">
          <label for="quality-filter"><h5>Quality</h5></label>
          <select class="form-control" id="quality" name="quality">
            <option value="">All</option>
            {% for quality in qualities %}
            <option value="{{ quality }}">{{ quality }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group filter-field">
          <label for="brand-filter"><h5>Brand</h5></label>
          <select class="form-control" id="brand" name="brand">
            <option value="">All</option>
            {% for brand in brands %}
            <option value="{{ brand }}">{{ brand }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group filter-field">
          <label for="min-price-filter"><h5>Min Price</h5></label>
          <input type="number" class="form-control" id="min-price-filter" name="min-price-filter" placeholder="Enter price">
        </div>
        <div class="form-group filter-field">
          <label for="max-price-filter"><h5>Max Price</h5></label>
          <input type="number" class="form-control" id="max-price-filter" name="max-price-filter" placeholder="Enter price">
        </div>
        <br/>
        <button type="submit" class="btn btn-outline-dark">Apply</button>
      </form>
    </div>
    <!-- INSTRUMENTS -->
    <div class="col-8">
      <div class="row categories">
        {% for instrument in instruments %}
            <div class="col text-center">
                <div class="card cardDisplaying">
                    <img src="{{ instrument.image.url }}" class="card-img-top" alt="{{ instrument.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ instrument.name }}</h5>
                        {% for spec in instrument.specs %}
                          <p class="card-text">{{ spec }}</p>
                        {% endfor %}
                        <a href="{% url 'rent' instrument.name %}" class="btn btn-outline-dark w-100">Rent for {{ instrument.price }}€/day</a>
                    </div>
                </div>
            </div>
            
        {% endfor %}
      </div>
    </div>
    <!-- SORTING BOX -->
    <div class="col-2">
      <h3>Sort Products</h3>
      <form id="sort-form" method="GET" action="">
        <div class="form-group paddingTop">
          <div class="btn-group" role="group" aria-label="Sort products">
            <button type="submit" class="btn btn-outline-dark" name="sort" value="AZ">A-Z</button>
            <button type="submit" class="btn btn-outline-dark" name="sort" value="ZA">Z-A</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% block 'scripts' %} 
  <!-- FILTER SCRIPT -->
  <script>
    $(document).ready(function() {
    $('#instrumentFilter').on('submit', function(filter) {
      filter.preventDefault();
      var quality = $('#quality').val();
      var brand = $('#brand').val();
      var min_price = $('#min-price-filter').val();
      var max_price = $('#max-price-filter').val();

      // getting url parameter "type" to make GET request
      var type_name = window.location.pathname.split('/').pop();

      $.ajax({
        url: '/instruments/' + type_name + '/',
        method: 'GET',
        data: {
          quality: quality,
          brand: brand,
          min_price: min_price,
          max_price: max_price
        },
        success: function(data) {
          $('#product-results').html(data);
        },
        error: function(xhr, textStatus, errorThrown) {
          console.error(errorThrown);
        }
      });
    });
  });
  </script>
{% endblock %}