{% extends 'rentals/base.html' %}

{% block content %}


<div class="container custom-size">
    
    <div class="row flexColumn" >
        <div class="col-4 wider">
            <div class="only420">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">1/5</div>
                </div>
            </div>
            <div class="row border">
                <h1 class="smaller">{{ instrument.first.name }}</h1>
                <div class="col paddingTop"> 
                    <div class="card border-0" style="width: 9rem;">
                        {% if instrument.first.image %}
                        <img src="{{ instrument.first.image.url }}" class="card-img-top" alt="{{ instrument.first.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col paddingTop">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Specs</li>
                        {% for spec in instrument.first.specs %}
                            <li class="list-group-item">{{ spec }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-7 paddingTop wider">
            <div class="hideAtLess730">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">1/5</div>
                </div>
            </div>
            <h1 class="padding40">Select Locations</h1>
            {% if not pickup_locations %}
            <p class="text-danger paddingTop">This instrument is not available to rent in any location</p>
            {% else %}
            <form method="GET" action="{% url 'dates' instrument.first.name %}">
                {% csrf_token %}
                <div class="row paddingTop">
                    <div class="col-5">
                        <div class="form-group">
                            <h5>Pick-up and return location</h5>
                            <select class="form-control" id="brand" name="pickup_loc" name="return_loc">
                              {% for location in pickup_locations %}
                              <option value="{{ location }}">{{ location }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5" >
                        <div class="form-group">
                            <!-- <h5>Return location</h5>
                            <select class="form-control" id="brand" name="return_loc">
                              {% for location in return_locations %}
                              <option value="{{ location }}">{{ location }}</option>
                              {% endfor %}
                            </select> -->
                        </div>
                    </div>
                </div>
                <div class="row padding40">
                    <button type="submit" class="btn btn-outline-dark btn-lg">View available dates</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
