{% extends 'rentals/base.html' %}

{% block content %}


<div class="container custom-size">
    
    <div class="row flexColumn" >
        <div class="col-4 wider">
            <div class="only420">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">5/5</div>
                </div>
            </div>
            <div class="row border">
                <h1 class="smaller">{{ instrument.first.name }}</h1>
                <div class="col paddingTop"> 
                    <div class="card border-0" style="width: 9rem;">
                        {% if instrument.first.image %}
                        <img src="{{ instrument.first.image.url }}" class="card-img-top" alt="{{ instrument.first.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col paddingTop">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Specs</li>
                        {% for spec in instrument.first.specs %}
                            <li class="list-group-item">{{ spec }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-7 paddingTop wider">
            <div class="hideAtLess730">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">5/5</div>
                </div>
            </div>
            <h1 class="padding40">Overview</h1>
            <form method="GET" action="{% url 'confirmation' instrument.first.name %}">
                <div class="row">
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item font-weight-bold">Dates</li>
                                    <li class="list-group-item">Pick-up Date: {{ pickup_date }}</li>
                                    <li class="list-group-item">Return Date: {{ return_date }}</li>
                            </ul>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item font-weight-bold">Locations</li>
                                    <li class="list-group-item">Pick-up location: {{ pickup_loc }}</li>
                                    <li class="list-group-item">Return location: {{ return_loc }}</li>
                            </ul>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item font-weight-bold">Payment method*</li>
                                    <li class="list-group-item">{{ payment_method }}</li>
                            </ul>
                        </ul>
                        <div class="payment-message paddingTop">
                            <p>*Transfer and Bizum payment concept must contain user name followed by order ID.</p>
                        <p>You can check your order's ID once you've made the order.</p>
                        </div>
                    </div>
                </div>
                    <div class="row paddingTop">
                        <div class="col">
                            <ul class="list-group list-group-flush">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item font-weight-bold">Products</li>
                                    <li class="list-group-item"> 
                                        <div class="d-flex justify-content-between">
                                            <div class="text-left">
                                                {{ instrument.first.name }}
                                            </div>
                                            <div class="text-right">
                                                {{ instrument.first.price }}€ x {{ days }} days: {{ instrumentPrice }}€
                                            </div>
                                        </div>
                                    </li>
                                    {% for accessory in accessory_list %}
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div class="text-left">
                                                {{ accessory.name }}
                                            </div>
                                            <div class="text-right">
                                                {{ accessory.price }}€
                                            </div>
                                        </div>
                                    </li> 
                                    {% endfor %}
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div class="text-left font-weight-bold">
                                                Total:
                                            </div>
                                            <div class="text-right font-weight-bold">
                                                {{ totalPrice }}€
                                            </div>
                                        </div>
                                    </li> 
                                    
                                </ul>
                            </ul>
                        </div>
                        
                    </div>
                <div class="row padding40">
                    <button type="submit" class="btn btn-outline-dark">Make order</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}