{% extends 'rentals/base.html' %}

{% block content %}



<div class="container custom-size">
    
    <div class="row flexColumn" >
        <div class="col-4 wider">
            <div class="only420">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">4/5</div>
                </div>
            </div>
            <div class="row border">
                <h1 class="smaller">{{ instrument.first.name }}</h1>
                <div class="col paddingTop"> 
                    <div class="card border-0" style="width: 9rem;">
                        {% if instrument.first.image %}
                        <img src="{{ instrument.first.image.url }}" class="card-img-top" alt="{{ instrument.first.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col paddingTop">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Specs</li>
                        {% for spec in instrument.first.specs %}
                            <li class="list-group-item">{{ spec }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="normalOverview">
                    <h3 class="paddingTop">Overview</h3>
                    <ul class="list-group list-group-flush">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item font-weight-bold">Locations</li>
                                <li class="list-group-item">Pick-up location: {{ pickup_loc }}</li>
                                <li class="list-group-item">Return location: {{ return_loc }}</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item font-weight-bold">Dates</li>
                                <li class="list-group-item">Pick-up Date: {{ pickup_date }}</li>
                                <li class="list-group-item">Return Date: {{ return_date }}</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item font-weight-bold">Accessories</li>
                            {% for accessory in accessories %}
                                <li class="list-group-item">{{ accessory }}</li>
                            {% endfor %}
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-7 paddingTop wider">
            <div class="hideAtLess730">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">4/5</div>
                </div>
            </div>
            <h1 class="padding40">Add Payment Method</h1>
            <p class="paddingTop paddingBot">Once payment has been made and checked by a staff member, your order's status will be setted to "payed".</p>
            {% for pm in payment_methods %}
            <form method="GET" action="{% url 'overview' instrument.first.name %}">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ pm.name }}</h5>
                      <p class="card-text">{{ pm.instructions }}</p>
                      <input type="hidden" name="payment_method" value="{{ pm.name }}">
                      <button type="submit" class="btn btn-outline-dark">Select payment method</button>
                    </div>
                  </div>
            </form>
            {% endfor %}
        </div>
        <div class="row extraOverview">
            <div class="col-12 wider">
                <h3 class="paddingTop">Overview</h3>
                <ul class="list-group list-group-flush">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Locations</li>
                            <li class="list-group-item">Pick-up location: {{ pickup_loc }}</li>
                            <li class="list-group-item">Return location: {{ return_loc }}</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Dates</li>
                            <li class="list-group-item">Pick-up Date: {{ pickup_date }}</li>
                            <li class="list-group-item">Return Date: {{ return_date }}</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Accessories</li>
                        {% for accessory in accessories %}
                            <li class="list-group-item">{{ accessory }}</li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>




{% endblock %}