{% extends 'rentals/base.html' %}

{% block content %}


<div class="container custom-size">
    
    <div class="row" >
        <div class="col-4">
            
            <div class="row border">
                <h1>{{ instrument.first.name }}</h1>
                <div class="col paddingTop"> 
                    <div class="card border-0" style="width: 9rem;">
                        <img src="{{ instrument.first.image.url }}" class="card-img-top" alt="{{ instrument.first.name }}">
                    </div>
                </div>
                <div class="col paddingTop">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">Specs</li>
                        {% for spec in instrument.first.specs %}
                            <li class="list-group-item">{{ spec }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <h3 class="paddingTop">Overview</h3>
        </div>
        <div class="col-1"></div>
        <div class="col-7 paddingTop">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">1/5</div>
            </div>
            <h1 class="padding40">Select Dates</h1>
            {% if not pickup_locations %}
            <p class="text-danger paddingTop">This instrument is not available to rent in any location</p>
            {% else %}
            <form method="GET" action="{% url 'locations' instrument.first.name %}">
                <!-- {% csrf_token %}
                <div class="row paddingTop">
                    <div class="col-5">
                        <h5>Pick-up date</h5>
                        <div class="input-group date" id="datepicker1">
                            <input type="text" class="form-control" id="pickup-date" name="pickup_date">
                            <span class="input-group-append">
                                <span class="input-group-text bg-white">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5" >
                        <h5>Return date</h5>
                        <div class="input-group date" id="datepicker2">
                            <input type="text" class="form-control" id="return-date" name="return_date">
                            <span class="input-group-append">
                                <span class="input-group-text bg-white">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row padding40">
                    <button type="submit" class="btn btn-outline-dark btn-lg" onclick="return validateForm()">View location</button>
                </div> -->
                {% csrf_token %}
                <div class="row paddingTop">
                    <div class="col-5">
                        <h5>Pick-up date</h5>
                        <div class="input-group date" id="datepicker1">
                            <input type="text" class="form-control" id="pickup_date" name="pickup_date">
                            <span class="input-group-append">
                                <span class="input-group-text bg-white">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5" >
                        <h5>Return date</h5>
                        <div class="input-group date" id="datepicker2">
                            <input type="text" class="form-control" id="return_date" name="return_date">
                            <span class="input-group-append">
                                <span class="input-group-text bg-white">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row padding40">
                    <button type="submit" class="btn btn-outline-dark btn-lg" onclick="return dateValidation()">View location</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#datepicker1').datepicker();
        $('#datepicker2').datepicker();
    });
</script>

<script type="text/javascript">
    function dateValidation() {
        // process pickup date
        var pickup_date_str = document.getElementById('pickup_date').value;
        var pickup_date_mdy = pickup_date_str.split('/');
        var pickup_date = new Date(pickup_date_mdy[2], pickup_date_mdy[0] - 1, pickup_date_mdy[1]); // y/m/d
        // process return date
        var return_date_str = document.getElementById('return_date').value;
        var return_date_mdy = return_date_str.split('/');
        var return_date = new Date(return_date_mdy[2], return_date_mdy[0] - 1, return_date_mdy[1]);
        // validate return after pickup
        if (return_date <= pickup_date) {
            alert('Pick-up date cannot be greater than return date. Please, select dates again.');
            return false;
        }
        // validate dates are not in the past
        var current_date = new Date();
        var day = current_date.getDate();
        var month = current_date.getMonth() + 1;
        var year = current_date.getFullYear();
        var current_date_formatted = new Date();
        if (current_date > pickup_date) {
            alert('Dates cannot take place in the past. Current date is ' + month + "/" + day + "/" + year + "(mm/dd/yyyy)");
            return false;
        }

        return false;
    }
</script>

{% endblock %}
