{% extends 'rentals/base.html' %}

{% block content %}

<div class="container custom-size">
    <div class="row">
        <div class="col">
            <h1>{{ category.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row categories vertical">
                {% for type in types %}
                    <div class="col text-center centerize">
                        <div class="card cardDisplaying">
                            {% if type.image %}
                            <img src="{{ type.image.url }}" class="card-img-top" alt="{{ type.name }}">
                            {% endif %}
                            <div class="card-body text-center">
                            <a href="{% url 'instruments' type.name %}" class="btn btn-outline-dark btn-lg w-100">{{ type.name }}</a>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
                
                <div class="col text-center centerize">
                    <div class="card cardDisplaying">
                        {% load static %}
                        {% if category.name == "Microphones" %}
                            <img src="{% static '/assets/img/mic-hand.png' %}" class="card-img-top" alt="All {{ category.name }}">
                        {% endif %}
                        {% if category.name == "Guitars" %}
                            <img src="{% static '/assets/img/guitars.jpg' %}" class="card-img-top" alt="All {{ category.name }}">
                        {% endif %}
                        <div class="card-body text-center">
                        <a href="{% url 'instruments' category.name %}" class="btn btn-outline-dark btn-lg w-100">All {{ category.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>




{% endblock %}