{% extends 'rentals/base.html' %}

{% block content %}


<div class="container custom-size">
    <div class="row">
        <div class="col">
            <h1>{{ category.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row categories">
                {% for type in types %}
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ type.image.url }}" class="card-img-top" alt="{{ type.name }}">
                            <div class="card-body text-center">
                            <a href="{% url 'instruments' type.name %}" class="btn btn-outline-dark btn-lg w-100">{{ type.name }}</a>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
                
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="#" class="card-img-top" alt="All {{ category.name }}">
                        <div class="card-body text-center">
                        <a href="{% url 'instruments' category.name %}" class="btn btn-outline-dark btn-lg w-100">All {{ category.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>




{% endblock %}